    <!DOCTYPE html>
    <html>
        <head>
            <title>Robo-SMS</title>
            <link rel='stylesheet' href='../assets/main.css' />
        </head>
        <body>
            <header class='driverHeader'>
                <h1>ROBO-SMS: Driver Tab</h1>
            </header>
            <main>
                <section class='driverSection'>
                    <form class='driverfields' name='driversForm' id='driversForm' action='/drivers/update1' method='POST' onclick='cleanFormData()'>
                        <fieldset>
                            <legend>OTR (Over-the-Road) DRIVERS</legend>
                            <table id='driverTable'>
                                <thead>
                                    <tr>
                                        <th size=2 maxlength=5>1st</th>
                                        <th size=3>Rank </th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Mobile</th>
                                        <th>Available</th>
                                        <th>Text</th>
                                        <th>Schedule Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each drivers}}
                                    <tr id='driverInfo[]'>
                                        <td><input type='hidden' name='ObjectId' value='{{this.stringObjectId}}'></td>
                                        <td><input type='radio' name='firstToText' value='{{this.firstToText}}' {{#if this.firstToText }} checked='true'{{/if}}></td>
                                        <td><input type='text' size=3 name='seniorityRank' value='{{this.seniorityRank}}' readonly></td>
                                        <td><input type='text' maxlength=25 name='firstName' value='{{this.firstName}}' readonly></td>
                                        <td><input type='text' size=30 maxlength=45 name='lastName' value='{{this.lastName}}' readonly></td>
                                        <td><input type='text' maxlength=15 name='mobilePhone' value='{{this.mobilePhone}}' readonly></td>
                                        <td><input type='checkbox' maxlength=12 name='available' value='{{this.available}}' {{#if this.available }} checked='true' {{else}} false{{/if}}></td>
                                        <td><input type='checkbox' maxlength=5 name='text' value='{{this.text}}' {{#if this.text }} checked='true' {{else}} false {{/if}}></td>
                                        <td><input type='text' size=100 name='scheduleNote' value='{{this.scheduleNote.0.note}}'></td>
                                        <td><input type='hidden' name='scheduleNote' value='{{this.scheduleNote.createDate}}'></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                        </table>
                    </fieldset>
                        <input type='submit' value='SAVE'/>
                </section>
            </main>
            <script type='text/javascript src='../assets/drivers.js'></script>
        </body>
    </html>
