<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Robo-SMS Sign Up</title>
        <meta name='google-site-verification' content='asmfeNNCxj5Bubj4-CN3J87gjOjT48g4EOKq7JRNb3I' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0'>

        <link href='//fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet'>
        <link href='/css/bootstrap.min.css' rel='stylesheet'>
        <link href='/css/font-awesome.min.css' rel='stylesheet'>
        <link href='/css/style.css' rel='stylesheet'>
    </head>

    <body>
        <div class="container">
            <div class="index-page">
                <div class="jumbotron text-center">
            		<h1><span class="fa fa-lock"></span>Robo-SMS Demo</h1>
                    <p>Login with email or Google</p>
            		<a href="/login" class="btn btn-success">Login</a>
            		<a href="/login/google" class="btn btn-danger"><i class="fa fa-google"></i> Google Login</a>
                </div>
            </div>

        </div>


        <!-- this is the closest version to what's in the tutorial - I'm commenting it out for now - may need to redo stuff
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- latest version -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.site.js"></script>
    </body>

</html>
